.body {
    padding-top: 86px;
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.body-center {
    display: flex;
    justify-content: center;
    position: relative;
}
.body-center-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
